html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div#snte-chrome-top {
  width: 100%;
  /*height: 55px;*/
  border-bottom: 1px darkgray solid;
  background: lightgray;

  z-index: 999; /* tooltips and dropdowns have */
  position: fixed;
  top: 0;
  left: 0;
}
div#snte-chrome-top-left {
  width: 110px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
div#snte-chrome-top-right {
  width: 100%;
  height: 100%;
  display: table-cell;
  margin-left: 110px;
  vertical-align: top;
}
div#snte-menubar-top {
  margin: 10px 0;
}
div#snte-menubar-formula {
  margin-bottom: 5px;
}
div#snte-menubar-formula-help {
  /*display: inline;
  background: grey;*/
}
div#snte-menubar-formula-help span.syntax, div#snte-chart-wizard-cellrange span.syntax {
  font-family: "Courier New";
}
div#snte-menubar-formula-help span.function {
  color: #006699;
}
div#snte-menubar-formula-help span.bracket {
  color: #FF0000;
}
div#snte-menubar-formula-help span.text {
  color: #0000FF;
}
div#snte-menubar-formula-help span.cellref, div#snte-chart-wizard-cellrange span.cellref {
  font-weight: bolder;
  color: #FF8822;
}

div#snte-logo {
  display: table-cell;
  float: left;
  height: 100%;
  margin: 0 20px 0 10px;
  font-size: 50px;
  line-height: 50px;
  font-family: 'Gilda Display', serif;
  color: #333;
}
div#snte-version {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: darkred;
  color: white;
  font-size: 10px;
}
div#snte-workspace {
  width: 100%;
  height: 100%;
  display: table; /*** For non-IE browsers ***/
  position: relative; /*** Let's be nice to IE ***/
  overflow: auto;
  /*left: 0;
  top: 55px;*/
  /*margin-top: 55px;*/
}

span#snte-menu-fill-color-indicator {
  background: #fff;
  border: 1px black solid;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 2px;
}
span#snte-menu-font-color-indicator {
  background: #000;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 2px;
}
/*button#snte-menu-font-bold {
  font-weight: bold;
}
button#snte-menu-font-italic {
  font-style: italic;
}
button#snte-menu-font-strikethrough {
  text-decoration: line-through;
}
button#snte-menu-font-underline {
  text-decoration: underline;
}*/

div#snte-menubar-formula button, div.snte-formula-arithmetics button {
  font-weight: bold;
}




div.snte-element {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

div.snte-element-table {
  margin: 20px;
}
div.snte-element-table table tr {
  background-color: #fff;
}
div.snte-element-table table tr td, div.snte-element-table table tr th {
  cursor: default;
}
div.snte-element-table table tr td.snte-formula {
  background-image: url('../img/formula-indicator-8x8.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
}
textarea.snte-formula {
  background-image: url('../img/formula-indicator-8x8.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

div.snte-element-image {
  margin: 0 0 0 20px;
}

div.snte-element-chart {
  margin: 20px 0 0 20px;
}

div.snte-element-text {
  padding: 5px;
  margin: 0 0 0 20px;
  /*min-width: 200px;
  min-height: 200px;*/
  min-width: 20px;
  min-height: 35px; 
  border-radius: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div.snte-element-text:hover, div.snte-element-text:focus {
  outline: none; /* for chrome */
  border-radius: 5px;
  border: 2px dashed #e4e4e4;
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}
div.snte-element-text:hover {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

div.snte-element-comment:focus {
   /* for chrome */
  outline: none;
  border: none;
}
div.snte-element-comment {
  /*width: 100%;*/
  height: 100%;
  margin: 0 12px 0 20px;

  padding: 15px; 
  /*font-family: 'Gloria Hallelujah', cursive;*/
  font-size: 15px; 
  color: #000; 
  overflow: auto;

  /*-moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);*/

  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
}
div.snte-comment-resizehandle {
  bottom: -10px !important;
}

div.snte-element-container {
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 115px;
  left: 50px;
  /*left: 30%;
  top: 30%;*/
}
div.snte-element-container div.snte-element-controls {
  display: none;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #e4e4e4;
  border-radius: 5px 0 0 5px;
  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
  /*margin-bottom: 20px;*/
}
div.snte-element-container:hover div.snte-element-controls {
  display: block;
}
div.snte-element-container div.snte-element-controls:hover, div.snte-element-container div.snte-element-title:hover {
  cursor: move;
}

div.snte-element-container div.snte-element-title {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  background: none;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}
div.snte-element-container:hover div.snte-element-title {
  background: #e4e4e4;
}
div.snte-element-container input.snte-element-title-input {
  width: 70%;
  border: none;
  background: none;
}
div.snte-element-container input.snte-element-title-input:hover, div.snte-element-container input.snte-element-title-input:focus {
  cursor: auto;
  border: 1px #ccc solid;
}
div.snte-element-container:hover div.snte-element-table, div.snte-element-container:hover div.snte-element-chart {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/*div.snte-element-container div.snte-element-controls div.snte-element-drag-handle {
  margin: 1px 0 0 1px;
  width: 18px;
  height: 18px;
  background: url('../img/drag-handle-icon.png');
}
div.snte-element-container div.snte-element-controls div.snte-element-drag-handle:hover {
  cursor: move;
}*/

div.snte-element-container div.snte-element-controls div.snte-element-delete {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  color: #747474;
}
div.snte-element-container div.snte-element-controls div.snte-element-delete:hover {
  cursor: pointer;
}

div.snte-element-container div.snte-table-control {
  display: none;
  position: absolute;
  background: #e4e4e4;
}
div.snte-element-container:hover div.snte-table-control {
  display: block;
}
div.snte-element-container div.snte-table-control:hover {
  cursor: pointer;
}

div.snte-element-container div.snte-table-control-add-row {
  width: 50px;
  height: 20px;
  
  bottom: 0;
  left: 20px;

  text-align: center;
  vertical-align: middle;
  color: #747474;
  
  border-radius: 0 0 5px 0;
  border-left: 1px #ccc solid;
  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
}

div.snte-element-container div.snte-table-control-add-column {
  width: 20px;
  height: 27px;
  padding-top: 4px;
  
  top: 20px;
  right: 0;

  text-align: center;
  vertical-align: middle;
  color: #747474;
  
  border-radius: 0 0 5px 0;
  border-top: 1px #ccc solid;
  /*box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/
}



button#snte-menu-toggle-comments {
  color: #ccc;
}

button#snte-menu-toggle-comments.active {
  color: #fcee16;
  text-shadow: -1px 0 #adadad, 0 1px #adadad, 1px 0 #adadad, 0 -1px #adadad;
}

.snte-hidden {
  display: none !important;
}


div#snte-menu-add-element .dropdown-menu span {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: middle;
}
div#snte-menu-add-element .dropdown-menu a {
  height: 2.5em;
}


.snte-menu-colorselector {
  padding: 5px;
  width: 255px;
}

.snte-menu-colorselector.dropdown-menu>li {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px;
}
.snte-menu-colorselector.dropdown-menu>li.default {
  width: 238px;
}

.snte-menu-colorselector.dropdown-menu>li>.snte-color-btn {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  position: relative;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
.snte-menu-colorselector.dropdown-menu>li.default>.snte-color-btn {
  width: 238px;
}

.snte-menu-colorselector.dropdown-menu>li>.snte-color-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}
.snte-menu-colorselector.dropdown-menu>li.default>.snte-color-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.snte-menu-colorselector.dropdown-menu>li>.snte-color-btn.selected:after {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  font-size: 11px;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 20px;
}

.snte-menu-colorselector.dropdown-menu>li>.snte-color-btn.selected.needs-black-font:after {
  color: #000;
}

.snte-menu-cell-type-example {
  color: #ccc;
  font-size: 0.8em;
  margin-right: 5px;
  float: right;
  display: block;
  margin-top: -2em;
}

.snte-formula-error {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: orange;
  font-size: 17px;
}



.snte-search-match {
  background-color: #FCEDD9 !important;
  color: #583707 !important;
}
div.snte-searchbox-resultcount {
  float: right;
  color: #cccccc;
}

div#snte-image-add-tab-upload, div#snte-image-add-tab-link {
  margin-top: 10px;
}

div#snte-image-upload-dropzone {
  width: 100%;
  height: 300px;
  border: 3px dashed #ccc;
  
  
  text-align: center;
  vertical-align: middle;
  padding: 120px 0;
  color: #ccc;
  font-size: 30px;
  /*text-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;*/
}
div#snte-image-upload-dropzone.dragover {
  background-color: #ccc;
  color: #999;
  border-color: #999;
}

div#snte-chart-wizard-cellrange {
  font-weight: bold;
}

div#snte-chart-modal div.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}
div#snte-chart-modal div.modal-body h5 {
  font-weight: bold;
  font-size: 16px;
}

div#snte-chart-modal button.snte-chart-wizard-type {
  margin: 4px;
  padding: 8px 8px 4px 8px;
}
div#snte-chart-modal button.snte-chart-wizard-type>span {
  height: 68px;
  width: 110px;
  display: inline-block;
}
button#snte-chart-wizard-type-line>span {
  background: url('../img/google-charts-thumbs.png') no-repeat scroll 0 -544px rgba(0, 0, 0, 0);
}
button#snte-chart-wizard-type-smoothline>span {
  background: url('../img/google-charts-thumbs.png') no-repeat scroll 0 -3119px rgba(0, 0, 0, 0);
}
button#snte-chart-wizard-type-area>span {
  background: url('../img/google-charts-thumbs.png') no-repeat scroll 0 -2779px rgba(0, 0, 0, 0);
}
button#snte-chart-wizard-type-vbar>span {
  background: url('../img/google-charts-thumbs.png') no-repeat scroll 0 -2099px rgba(0, 0, 0, 0);
}
button#snte-chart-wizard-type-hbar>span {
  background: url('../img/google-charts-thumbs.png') no-repeat scroll 0 -3187px rgba(0, 0, 0, 0);
}
button#snte-chart-wizard-type-pie>span {
  background: url('../img/google-charts-thumbs.png') no-repeat scroll 0 -3852px rgba(0, 0, 0, 0);
}
button#snte-chart-wizard-type-donut>span {
  background: url('../img/google-charts-thumbs.png') no-repeat scroll 0 -2371px rgba(0, 0, 0, 0);
}

div.snte-copypaste-modal-shortcut {
  display: inline-block;
  padding: 30px;
}
div.snte-copypaste-modal-shortcut-command {
  font-size: 36px;
  color: #666666;
}


/*
override handsontable
*/
.handsontable td {
  line-height: normal !important;
  vertical-align: bottom;
}
.handsontable th {
  vertical-align: middle;
}
div.htContextMenu {
  z-index: 999;
}

div.htContextMenu table.htCore {
  width: auto;
}
div.htContextMenu table tbody tr td {
  padding: 4px !important;
}
div.htContextMenu table tbody tr td.htSeparator {
  padding: 0 !important;
}
div.htContextMenu table tbody tr td div span[class^="icon-"], div.htContextMenu table tbody tr td div span[class*=" icon-"] {
  width: 20px;
  margin-right: 5px;
}

/*
override bootstrap
*/
.popover {
  max-width: none !important;
  width: auto !important;
  position: fixed !important;
}