body {
  margin: 0;
  padding: 0;
}
div#snte-page {
  width: 100%;
  height: 100%;
  margin: -10px 0 0 0;
  padding: 0;
}
div#snte-chrome-top {
  width: 100%;
  height: 100px;
  border-bottom: 1px darkgray solid;
  background: lightgray;
}
div#snte-menubar-top {
  margin: 10px 0 0 10px;
}
div#snte-main {
  width: 100%;
  min-width: 960px;
}
div#snte-chrome-left {
  width: 180px;
  height: 100%;
  min-height: 800px;
  border-right: 1px darkgray solid;
  background: lightgray;
  float: left;
  padding: 10px 0 0 10px;
}
div#snte-workspace-container {
  margin-left: 180px;
  min-width: 790px;
  height: 100%;
  min-height: 800px;
  background: lightblue;
  overflow: auto;
}

div#snte-workspace {
  /*width: 5000px;
  height: 5000px;*/
  position: relative;
}


div#snte-menu-left h1 {
  font-size: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  color: darkgray;
  margin: 0 auto;
  display: block;
}
div#snte-menu-left-empty {
  font-size: 10px;
  color: darkgray;
}

span#snte-menu-font-color-picker-indicator {
  background: #FC0;
  width: 10px;
  height: 10px;
  display: inline-block;
}
button#snte-menu-font-bold {
  font-weight: bold;
}
button#snte-menu-font-italic {
  font-style: italic;
}
button#snte-menu-font-strikethrough {
  text-decoration: line-through;
}
button#snte-menu-font-underline {
  text-decoration: underline;
}



div.snte-element-table {
  margin: 20px 0 0 20px;
}
div.snte-element-text {
  margin: 0 0 0 20px;
  min-width: 200px;
  min-height: 200px;
}

div.snte-element-container {
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 50px;
  left: 50px;
}
div.snte-element-container div.snte-element-control-handles {
  width: 20px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

div.snte-element-container div.snte-element-title {
  width: 50%;
  height: 20px;
  position: absolute;
  top: 0;
  left: 20px;
}

div.snte-element-container div.snte-element-control-handles div.snte-element-drag-handle {
  width: 20px;
  height: 20px;
  background-color: darkgrey;
}

div.snte-element-container div.snte-element-control-handles div.snte-element-delete {
  width: 20px;
  height: 20px;
  background-color: red;
}

.snte-hidden {
  display: none;
}

div.snte-element-container.snte-highlighted {
  background: rgba(255,255,255,0.6);
}

div.snte-element-text.snte-highlighted {
  outline: 2px dashed #ccc;
}